@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
}

.mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}

nav li a {
  @apply px-4 py-5 text-lg hover:text-sky-700;
}

h1 {
  font-family: 'Roboto Light', sans-serif;
  line-height: 1.5 !important;
}

.bg-primary {
  background: rgb(15,23,42);
}

.bg-secondary {
  background: #1E293B;
}

body {
  @apply bg-slate-900;
}
